#rightmenu h3 {  
	height:15px;
	font-size: 10pt;
	padding: 10px 15px 10px 15px;
}
#rightmenu .ui-accordion-content {  
    font-size: 9pt;
    padding: 10px 15px 10px 15px;
}
#rightmenu .ui-accordion-content a {
	text-decoration: none;
}
#rightmenu .ui-accordion-header {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#rightmenu .ui-accordion-content ul {
	list-style: none;
   	padding-left: 0;
}
#rightmenu .ui-accordion-content ul li:hover {
	font-weight: bolder;
	text-shadow: 0.5px 0.5px graytext;
}